footer.section-p1
    .col
      img.logo(src='/images/logo.png' alt='')
      h4 Contact
      p
        strong Address: 
        |  S&#x1ED1; 298 &Dstrok;. C&#x1EA7;u Di&#x1EC5;n, Minh Khai, B&#x1EAF;c T&#x1EEB; Li&ecirc;m, H&agrave; N&#x1ED9;i
      p
        strong Phone: 
        |  (+84) 37 5568 408
      p
        strong Hours: 
        |  7.00 - 24.00, Mon - Sat
      .follow
        h4 Follow us
        .icon
          i.fa-brands.fa-facebook
          i.fa-brands.fa-twitter
          i.fa-brands.fa-instagram
    .col
      h4 About
      a(href='#') About us
      a(href='#') Delivery Information
      a(href='#') Privacy Policy
      a(href='#') Terms &amp; Conditions
      a(href='#') Contact us
    .col
      h4 My Account
      a(href='#') Sign In
      a(href='#') View Cart
      a(href='#') My Wishlist
      a(href='#') Track My Order
      a(href='#') Help
    .col.install
      h4 Install App
      p From App Store or Google Play
      .row
        img(src='/images/pay/app.jpg' alt='')
        img(src='/images/pay/play.jpg' alt='')
      p Secured Payment Gateways
      img(src='/images/pay/pay.png' alt='')
    .copyright
      p &copy; 2025 - nhom 03