header.header 
  .container-fluid
    .row
      .col-1 
        .inner-logo 
          a(href="/")
            img(src="/images/logo.png", alt="Picture logo") 

      .col-11 
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>
        </ul>