.col-12 .label-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23DADADAFF' stroke-width='3' stroke-dasharray='16%2c 16' stroke-dashoffset='35' stroke-linecap='square'/%3e%3c/svg%3e"); */
  overflow: hidden;
  border: 3px dashed rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  
}

.show-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* object-fit: contain; */
  background-position: center;
  background-size: contain;
  background-repeat: none;
  overflow: hidden;
  border-radius: 10px;
}

.show-image div{
  background-color: rgb(56, 170, 56);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  transition: 0.3s;
}

.label-image:hover .show-image div{
  opacity: 0.8;
}


.col.image .label-image {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.col.image .show-image div {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.col.image .show-image div i {
  font-size: 8px;
}

.image {
  padding: 0;
}

.label-image {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  border: 2px dashed #ccc;
  border-radius: 12px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.show-image div {
  background-color: #a5d6a7;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

