* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  color: black;
}

.container-fluid {
  margin: 20px 10px;
}


/* HEADER - START */
.header {
  margin-top: 10px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.inner-logo {
  width: 100px;
}
/* HEADER - END */

/* FOOTER - START */
.footer {
  padding: 15px;
  text-align: center;
}
/* FOOTER - END */

/* CARD ITEM - START */
.card {
  width: 15rem;
}

.card-price-old {
  text-decoration: line-through;
}

.card-body span {
  padding: 5px;
  
}
/* CARD ITEM - END */