extends ../../layout/default.pug
include ../../mixins/products-layout.pug
include ../../mixins/pagination.pug

block main 
  section#page-header
    h2=category.title
    p Sava more with coupons &amp; up to 70% off

  section#product1.section-p1  
    +product-grid(products)

  +pagination(pagination)

  section#newsletter.section-p1.section-m1
    .newstext
      h4 Sign Up For Newsletters
      p
        | Get E-mail updates about our latest shop and 
        span special offers
    .form
      form(action='')
        input(type='text' placeholder='Your email address')
        button.normal Sign up

  script(src="/js/admin/pagination.js")
