extends ../../layout/default.pug


block main 

  h1=titlePage

  div(class="text-right")
    button(
      type="submit"
      class="btn btn-primary mb-3"
      button-submit
    ) Cập nhật

    table(class="table table-hover text-left")
      thead(class="thead-light")
        tr  
          th(scope="col") Tính năng
          th(scope="col" class="text-center") Quản trị viên
          th(scope="col" class="text-center") Quản trị nội dung
      tbody 
        tr 
          td(colspan="3")
            h5 Danh mục sản phẩm
        tr(data-name="products-category_view")
          td Xem
          td(class="text-center")
            input(type="checkbox" class="custom-input")
          td(class="text-center")
            input(type="checkbox" class="custom-input")
        tr(data-name="products-category_create")
          td Thêm mới
          td(class="text-center")
            input(type="checkbox" class="custom-input")
          td(class="text-center")
            input(type="checkbox" class="custom-input")
        tr(data-name="products-category_edit")
          td Chỉnh sửa
          td(class="text-center")
            input(type="checkbox" class="custom-input")
          td(class="text-center")
            input(type="checkbox" class="custom-input")
        tr(data-name="products-category_delete")
          td Xoá
          td(class="text-center")
            input(type="checkbox" class="custom-input")
          td(class="text-center")
            input(type="checkbox" class="custom-input")

