.notFound {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.notFound .icon {
  font-size: 8rem;
}

.notFound .title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 0.8rem;
}

.notFound .description {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
}