:root {
  --bg-header: rgb(36, 36, 36);
}


.header {
  background: var(--bg-header);
  position: fixed;
  top: 0px;
  height: 50px;
  width: 100%;
}

.header .inner-logo a {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.sider {
  margin-top: 50px;
  width: 200px;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
} 

.sider .inner-menu a{
  color: white;
}

.sider .inner-menu ul li {
  padding: 5px;
  border-bottom: 1px solid white;
}

.main {
  margin-top: 50px;
  padding: 10px;
  width: 100%;
}

.body {
  display: flex;
  height: 100vh;
}

.body button {
  margin-left: 5px;
}


/* CARD-FOOTER - START*/
.card .card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .card-footer nav {
  margin-top: 10px;
}
/* CARD-FOOTER - END*/

.form-group {
  margin-right: 10px;
}

/* SHOW ALERT - START */
[show-alert] {
  position: fixed !important;
  top: 50px;
  right: 30px;
  z-index: 999;
  width: 400px;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 30px;
  } to {
    right: -100%;
    display: none;
  }
}
/* SHOW ALERT - END */

/* RADIO IN PAGE CREATE PRODUCT - START */
.form-check-inline {
  margin-top: 10px;
}

/* lable[for="active"], label[for="inactive"] {
  font-size: 1rem;
} */ 
/* RADIO IN PAGE CREATE PRODUCT - END */

