@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* NAVIGATION START */
.container1 {
  position: relative;
  width: 100%;
}

.padding-20 {
  padding: 10px 20px;
  width: 100%;
}

h1.title {
  color: var(--blue);
  font-weight: 700;
  margin: 20px 0px;
}

h2.card-title {
  font-weight: 600;
  color: var(--blue);
  font-size: 2rem;
}

h3.card-title {
  font-weight: 600;
  color: var(--blue);
  font-size: 2rem;
}

h5.card-title {
  font-weight: 600;
  color: var(--blue);
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

/* Custom toolip */
:root {
  --bd-red-bg: #c62828;   /* nền tooltip */
  --bs-black: #000000;    /* màu chữ tooltip */
}

/* Chú ý: class này phải nằm trên phần tử .tooltip sinh ra,
   nên ta target .tooltip.custom-tooltip */
.tooltip.custom-tooltip {
  /* override css variables Bootstrap dùng */
  --bs-tooltip-bg: var(--white);
  --bs-tooltip-color: var(--bs-black);
  /* thêm drop shadow / bo góc nếu muốn */
  --bs-tooltip-opacity: 1;
}

/* Tooltip inner (nội dung) */
.tooltip.custom-tooltip .tooltip-inner {
  padding: .5rem .75rem;    /* tuỳ chỉnh */
  font-size: 0.95rem;
  border-radius: 0.5rem;
  /* Nếu muốn viền: */
  border: 1px solid rgba(0,0,0,.08);
}
