@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}


h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 30px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}
