/* Ẩn biểu tượng autofill mật khẩu của Webkit (Chrome, Edge, Safari...) */
input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

#password-custom {
  position: relative;
  cursor: pointer;
}

#password-custom i {
  position: absolute;
  top: 30%; 
  right: 20px;
}

#password-custom .d-none {
  display: none;
}