
/* Shopping fontend */
#page-header {
  background-image: url("/images/banner/b1.jpg ");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 14px;
}
#page-header h2,
#page-header p {
  color: #fff;
}
#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: 600;
  color: #fff;
  margin-right: 5px;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}