doctype html 
head 
  title Login 

  //- link fontawesome
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css")

  //- link css
  link(rel="stylesheet", href="/css/admin/auth.css")
  link(rel="stylesheet", href="/css/admin/notifications.css")

body 

  block main 


  //- script(src="/js/admin/fontend/auth.js")
  //- nhúng notifications
  script(src="/js/admin/notifications.js")
