doctype html 
head 
  title #{pageTitle}

  //- Nhúng link bootstrap 4
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous")

  //- Link nhúng boostrap 5
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB' crossorigin='anonymous')

  //- Link nhúng fonawesome
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css")


  //- Nên cho link css của cá nhân dưới linh bootstrap để giá trị của css là ưu tiên
  link(rel="stylesheet", href="/css/admin/default.css")
  //- link(rel="stylesheet", href="/css/admin/productsCategory.css")
  link(rel="stylesheet", href="/css/admin/navigation.css")
  link(rel="stylesheet", href="/css/admin/main.css")
  link(rel="stylesheet", href="/css/admin/topbar.css")
  link(rel="stylesheet", href="/css/admin/doashboard/index.css")
  link(rel="stylesheet", href="/css/admin/table.css")
  link(rel="stylesheet", href="/css/admin/products/index.css")
  link(rel="stylesheet", href="/css/admin/notifications.css")
  link(rel="stylesheet", href="/css/admin/403Page.css")
  link(rel="stylesheet", href="/css/admin/products/editProduct.css")

body

  if (role.permissions.length > 0)
    .container1
    //- include ../partials/header.pug
    include ../partials/sider.pug

    .main 
      include ../partials/topbar.pug
      .padding-20
        block main

    //- Nhúng bootstrap 4
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous")

    //- Link nhúng boostrap 5
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js' integrity='sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI' crossorigin='anonymous')
    script(src='/js/admin/fillterProducts.js')
    script(src=`https://cdn.tiny.cloud/1/${apiTinymce}/tinymce/6/tinymce.min.js`)
    script(src='/js/admin/tinymce.js')
    script(type='module' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js')
    script(nomodule='' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js')
    
    //- Fontend
    script(src="/js/admin/fontend/navigation.js")
    
    //- nhúng toolip
    script(src="/js/admin/toolip.js")

    //- nhúng notifications
    script(src="/js/admin/notifications.js")
  else 
    h3.notFound Bạn không thể truy cập vào website